@model BackTogether.Models.User

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

@section Content {
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-1 px-lg-1">
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/assets/img/monologo.png" alt="Logo" style="max-height: 48px;">
                <span style="color: #30B9F9; font-family:Jura;">BackToGether</span>
            </a>
        </div>
    </nav>

    <header class="masthead1" style="position: relative; width: 100%; max-height:85vh; padding-top: 8rem; padding-bottom:0; background-color: #f2f2f2;">
        <div class="container d-flex h-80 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase" style="font-size: 3rem;">Register</h1>
                <br>
                <form asp-controller="User" asp-action="Register" method="post" class="form-signin" style="max-width: 400px;">
                    @Html.ValidationSummary(true)

                    <div class="form-label-group" style="margin-bottom: 20px;">
                        <input asp-for="Email" class="form-control" placeholder="Email address" required autofocus>
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-label-group" style="margin-bottom: 20px;">
                        <input asp-for="Username" class="form-control" placeholder="Username" required>
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-label-group" style="margin-bottom: 20px;">
                        <input type="password" asp-for="Password" class="form-control" placeholder="Password" required>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-label-group" style="margin-bottom: 20px;">
                        <input asp-for="FullName" class="form-control" placeholder="Full Name" required>
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>

                    <button type="submit" class="btn btn-primary btn-block text-uppercase">Register</button>
                </form>
            </div>
        </div>
        <div class="container text-center mt-4">
            <p style="color: #30B9F9; margin-bottom:0;">
                Already have an account?
                <i class="fa-solid fa-bell fa-shake" style="vertical-align: middle;"></i>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login" style="display: inline-block; vertical-align: middle;"><span>Log in here</span></a>
            </p>
        </div>
    </header>
}
